* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

.user.icon.clickable:hover {
    transform: scale(1.1);
}

.icon.clickable:hover {
    transform: scale(1.2);
}

.title.clickable:hover,
.name.clickable:hover {
    transform: scale(1.02);
    text-decoration: underline;
}

.clickable:hover {
    cursor: pointer;
}

.sidebar {
    min-width: 200px;
    background-color: #052f47;
    z-index: 1;
    padding-top: 15px;
}

.sidebar .logo {
    width: 35px;
}

.title {
    color: #052f47;
}

.sidebar .header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    margin-left: 15px
}

.sidebar .header span {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.sidebar .toolbox {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 40px 0px 30px;
}

.toolbox-item:hover {
    box-shadow: 0 0 10px #10f0e5;
}

.sidebar p {
    color: white;
}

.toolbox-item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 5px 15px;
}

.toolbox-item img,
.aux-item img {
    width: 20px;
}

.toolbox-item .home {
    width: 22px;
}

.toolbox-item p {
    text-transform: capitalize;
    padding-top: 5px;
}

.sidebar .aux {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 15px 0px 30px;
}

.aux-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 15px
}

.aux-item:hover {
    box-shadow: 0 0 10px #10f0e5;
}

.aux-item p {
    text-transform: capitalize;
    padding-top: 5px;
}

/* || MAIN SECTION ============================================= */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* || MAIN HEADER SECTION--------------------------------------- */

.main .header {
    /* background-color: white; */
    background-image: linear-gradient(30grad, #f32aa6, rgb(124, 29, 231), #10f0e5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 15px 40px;
    box-shadow: 0px 0px 15px grey;
    color: #052f47;
}

.main .header .upper-container {
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search.icon {
    width: 24px;
    padding-top: 5px;
}

.search-btn {
    border: none;
    background-color: transparent;
}

.search-form {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.search-bar {
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: lightgrey;
    padding: 0px 15px;
    flex: 1;
}

.search-bar:focus, .search-bar:hover{
    outline: none;
	box-shadow: 0 0 10px white;
}

.bell.icon {
    width: 20px;
}

.upper-container .user-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-bar .user.icon {
    width: 30px;
}

.user-bar p {
    text-transform: capitalize;
    font-weight: bold;
}

.lower-container {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.avatar-container {
    display: flex;
    gap: 20px;
}

.lower-container .user-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.avatar-container .user.name {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: none;
}

.avatar-container .message {
    font-size: 0.8rem;
}

.header-btn-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.header-btn-container .btn {
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    align-self: center;
    background-color: #052f47;
    color: white;
    font-weight: bold;
}

.header-btn-container .btn:hover {
    box-shadow: 0 0 10px white;
    background-color: #074a70;
}

.avatar-container .user.icon {
    width: 40px;
    height: 40px;
} 


/* || MAIN CONTENT SECTION-------------------------------------- */

.main .active-window {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
}

.active-window .cards-container {
    flex-grow: 1;
}


/* || SIDE SECTION (ANNOUNCEMENTS)=========================== */


.active-window .side {
    display: flex;
    flex-direction: column;
    width: 230px;
    box-sizing: border-box;
    gap: 20px;
    flex-shrink: 0;
}

.block > .title ,
.cards-container > .title {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}


.announcements .container,
.trending .container {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.announcement .title {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.announcement .content {
    font-size: 0.8rem;
}

.announcements .divider {
    border: 1px solid lightgrey;
    margin: 5px 0px;
}

.trending .user img {
    width: 35px;
    height: 35px;
}

.trending .user {
    display: flex;
    gap: 15px;
}

.trending .user .text {
    font-size: 0.9rem;
}

.text .name {
    font-weight: bold;
}

/* || CARDS SECTION ================================== */

.cards-container {
    display: flex;
    flex-direction: column;
}

.cards-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.cards-wrapper .card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 8px solid rgb(243, 42, 166);
    gap: 20px;
}

.card .title {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 10px;
}

.card a {
    text-decoration: none;
}

a:visited { text-decoration: none; color:#052f47; }
a:hover { text-decoration: none; color:#052f47; }
a:focus { text-decoration: none; color:#052f47; }
a:hover, a:active { text-decoration: none; color:#052f47 }

.card .project-image {
    width: 220px;
    margin-bottom: 10px;
}

.card .toolbar {
    align-self: end;
    display: flex;
    gap: 15px;
}

.card .toolbar img {
    width: 20px;;
}




