* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color:aquamarine;
}

.sidebar .header {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    margin-left: 15px
}

.sidebar .header span {
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.sidebar .toolbox {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 30px;
}

.toolbox-item {
    display: flex;
    gap: 15px;
    align-items: center;
}

.toolbox-item img {
    width: 15px;
}

.toolbox-item p {
    text-transform: capitalize;
    padding-top: 5px;
}

.sidebar .aux {
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 30px;
}

.aux-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.aux-item img {
    width: 15px;
}

.aux-item p {
    text-transform: capitalize;
    padding-top: 5px;
}

/* || MAIN SECTION ============================================= */

.main {
    background-color: chocolate;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* || MAIN HEADER SECTION--------------------------------------- */

.main .header {
    background-color: red;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main .header .upper-container {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 15px 40px 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.search-icon {
    width: 15px;
}

.search-form {
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.search-bar {
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: lightgrey;
    padding: 0px 15px;
    flex: 1;
}

.search-bar:focus{
    outline: none;
}

.bell-icon {
    width: 20px;
}

.upper-container .user-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-bar .user-icon {
    width: 30px;
}

.lower-container {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 10px;
}

.avatar-container {
    display: flex;
    gap: 20px;
}

.lower-container .user-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.avatar-container .user-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.avatar-container .message {
    font-size: 0.9rem;
}

.header-btn-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.header-btn-container .btn {
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    align-self: center;
}

.main .avatar {
    width: 40px;
    height: 40px;
} 


/* || MAIN CONTENT SECTION-------------------------------------- */

.main .content {
    background-color: gray;
    flex-grow: 1;
}
